<li>
	{{name}}

	<button class="change-order" data-id="{{id}}" data-neworder="{{order}}">
		{{#if order}}Order Up!!{{else}}Burger Delivered!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Devour!</button>
</li>
